.layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #010101;
    color: #fefdfd;
}

.main-content {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}